<h2>User info</h2>
<% book.each do |book| %>
  <%= image_tag book.user.get_profile_image(100,100) %>
  <table>
    <tbody>
      <tr>
        <th>name</th>
        <th><%= book.user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= book.user.introduction %> </th>
      </tr>
    </tbody>
  </table>
<% end %>




<h1>New book</h1>
<%= form_with model: book do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>
