<h2>User info</h2>
<table>
  <tbody>
    <tr>
      <th><%= image_tag user.get_profile_image(100,100) %></th>
    </tr>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %> </th>
    </tr>
  </tbody>
</table>

<h1>New book</h1>
<%= form_with model: book do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>
